body{
    background-image: url("Background.jpg");
    justify-content: center;
}
#button{
    height: 50px;
    width: 400px;
    margin: 0;
    position: absolute;
    top: 15%; left: 50%; bottom: 0; right: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-top: 0px;
    font-family: courier, monospace;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

#quoteDisplay{
    height: 100px;
    width: 800px;
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 0px;
    font-family: courier, monospace;
    text-align: center;
    font-size: 25px;
    border-radius: 100px;
    color: white;
}